# EditorConfig is awesome: https://editorconfig.org

root = true

[*]
charset = utf-8 # 文件字符集
indent_style = space # 缩进风格
indent_size = 4 # 缩进大小
end_of_line = lf # 行尾换行符
insert_final_newline = true # 文件末尾插入新行
trim_trailing_whitespace = true # 删除行尾空格

[*.md]
trim_trailing_whitespace = false # 禁用 Markdown 文件的行尾空格删除
